$fuentePrincipal: "PT Sans", sans-serif;
$primario: #784d3c;
$blanco: #ffff;
$negro: rgb(0, 0, 0);
$gris: rgb(194, 194, 194);
$azul: rgb(7 159 224);
$azulSecundario: rgb(22, 175, 202);
$alertaFormulario: rgb(211, 255, 202);
$alertaFormularioError: rgb(235, 79, 51);
$letraformulario: rgb(108, 131, 104);
$actualizacionEditar: rgb(22, 216, 4);
$rojoEstado: rgb(238, 213, 213);
$rojo: rgb(250, 111, 111);
